@using WebUI.Resources
@inject LocalizationService LocalizationService
@model CustomerViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">Create</div>
    <div class="card-body">
        <form asp-controller="Customer" asp-action="Create" method="post">
            <div class="form-row">
                <div class="col">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" 
                        placeholder="@LocalizationService.GetLocalizedHtmlString("FullName")" 
                        class="form-control" />
                    <span asp-validation-for="FullName"></span>
                </div>
                <div class="col">
                    <label asp-for="City"></label>
                    <input asp-for="City" 
                        placeholder="@LocalizationService.GetLocalizedHtmlString("City")" 
                        class="form-control" />
                    <span asp-validation-for="City"></span>
                </div>
                <div class="col">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" 
                        placeholder="@LocalizationService.GetLocalizedHtmlString("PhoneNumber")" 
                        class="form-control" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-row">
                <div class="col">
               <button style="margin-top: 10px" class="btn btn-success" type="submit"> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>